# Node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Expo
.expo/
.expo-shared/
web-build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/DerivedData/

# Android
android/.gradle/
android/app/build/
android/build/

# macOS
*.DS_Store

# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate

# Logs
*.log

# Misc
.env
